.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .top-container {
    width: 100%;
    z-index: 1;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    // height: 0;
    z-index: 0;
  }
}
